<template>
  <!-- <StackedLayout> -->
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md sm:rounded-lg">
          <input type="text" id="myInput" placeholder="Search" class="
              w-full
              px-4
              py-2
              text-xl
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              sm:rounded-lg
              transition
              ease-in-out
              m-0
              focus:text-gray-700
              focus:bg-white
              focus:border-red-600
              focus:outline-none
            " v-on:keyup="myFunction()" />

          <table class="min-w-full" id="myTable">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Athlete Name
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Conflict Date
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Sport
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Departure Time
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Professor
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Professor Email
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Course Code
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Course Start Time
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Disable Emails?
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Product 1 -->
              <tr v-for="item in rowData" :key="item" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="
                    py-4
                    px-6
                    text-sm
                    font-medium
                    text-gray-900
                    whitespace-nowrap
                    dark:text-white
                  " v-if="(item.sent !== true)">
                  {{ item.ath_name }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.date_conf }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.ath_sport }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.dep_time }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.prof }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.prof_email }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.course_cde }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  {{ item.course_st }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="(item.sent !== true)">
                  <input type="checkbox" v-if="item.disable_emails"
                    @click="changeEmailNotifications(item.ath_name, item.date_conf, item.dep_time, item.course_cde, $event)"
                    checked>
                  <input type="checkbox" v-else
                    @click="changeEmailNotifications(item.ath_name, item.date_conf, item.dep_time, item.course_cde, $event)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <health />
  </div>
  <!-- </StackedLayout> -->
</template>
<script>
</script>

<script>
import axios from "axios";
export default {
  data() {
    return {
      ath_name: "",
      ath_sport: "",
      dep_time: "",
      prof: "",
      course_cde: "",
      course_st: "",
      date_conf: "",
      conflicts: "",
      sent: "",
      rowData: [],
      getCookieValue: (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
      )
    };
  },
  methods: {
    myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, j, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");

      var match = false;
      for (i = 1; i < tr.length; i++) {
        (td = tr[i].getElementsByTagName("td")), (match = false);
        for (j = 0; j < td.length; j++) {
          if (
            td[j].innerHTML.toUpperCase().replace(/  +/g, " ").indexOf(filter) >
            -1
          ) {
            match = true;
            break;
          }
        }
        if (!match) {
          tr[i].style.display = "none";
        } else {
          tr[i].style.display = "";
        }
      }
    },
    async changeEmailNotifications(name, date, departure_time, course_code, event) {
      var state = event.target.checked;
      console.log(`${name}, ${date}, ${departure_time}, ${state}`);
      await axios.get("./api/changeEmailNotifications", {
        params: {
          name: name,
          date: date, 
          departure_time: departure_time,
          course_code: course_code,
          state: state,
          token: this.getCookieValue('login')
        }
      })
      console.log(`Notifs for ${name} changed`);
    }
  },
  created() {
    axios.get("./api/conflicts", {
      params: {
        token: this.getCookieValue('login')
      }
    }).then((response) => {
      console.log(response);
      var conflict_data = response["data"];
      for (var i = 0; i < conflict_data.length; i++) {
        var conflict = conflict_data[i];
        var my_object = {
          ath_name: conflict["athlete_name"],
          date_conf: conflict["date_of_conflict"],
          ath_sport: conflict["athlete_sport"],
          dep_time: conflict["departure_time"],
          prof: conflict["professor"],
          prof_email: conflict["professor_email"],
          course_cde: conflict["course"],
          course_st: conflict["course_begin_time"],
          disable_emails: (conflict["disable_emails"] === "true"),
          sent: conflict["sent"]
        };
        this.rowData.push(my_object);

        this.ath_name = "";
        this.ath_sport = "";
        this.dep_time = "";
        this.prof = "";
        this.prof_email = "";
        this.course_cde = "";
        this.course_st = "";
        this.date_conf = "";
        this.sent = "";
      }
    });
  },
};
</script>
