<template>
  <div>
    <div id="app" class="grid grid-flow-row-dense">
      <div class="failure hidden" ref="editError">
        <span class="closebtn" onclick="this.parentElement.className='failure hidden';">&times;</span>
        <span ref="editWarning"></span>
      </div>
      <div class="success hidden" ref="editSuccess">
        <span class="closebtn" onclick="this.parentElement.className='success hidden';">&times;</span>
        <strong>Success!</strong> Changes were saved.
      </div>
      <div class="flex items-center justify-center bg-grey-lighter py-5">
        <div class="overflow-hidden shadow-md sm:rounded-lg">
          <table>
            <tr>
              <td v-on:click="dataSelect('student-schedules')" scope="row" class="
                                py-4
                                px-6
                                text-sm
                                font-medium
                                text-gray-900
                                whitespace-nowrap
                                dark:text-white
                              ">
                Student Schedules
              </td>
              <td v-on:click="dataSelect('events')" scope="row" class="
                                py-4
                                px-6
                                text-sm
                                font-medium
                                text-gray-900
                                whitespace-nowrap
                                dark:text-white
                              ">
                Events
              </td>
              <td v-on:click="dataSelect('athletes')" scope="row" class="
                                py-4
                                px-6
                                text-sm
                                font-medium
                                text-gray-900
                                whitespace-nowrap
                                dark:text-white
                              ">
                Rosters
              </td>
              <td v-on:click="dataSelect('exam-schedule')" scope="row" class="
                                py-4
                                px-6
                                text-sm
                                font-medium
                                text-gray-900
                                whitespace-nowrap
                                dark:text-white
                              ">
                Final Exams
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="flex items-center justify-center bg-grey-lighter px-5 py-5">
        <button class="
                    inline-block
                    px-6
                    py-2.5
                    bg-green-500
                    text-white
                    font-medium
                    text-xl
                    leading-tight
                    uppercase
                    rounded
                    shadow-md
                    hover:bg-green-600 hover:shadow-lg
                    focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0
                    active:bg-green-700 active:shadow-lg
                    transition
                    duration-150
                    ease-in-out
                  " v-on:click="onSave()">
          Save
        </button>
      </div>
      <input type="text" id="myInput" placeholder="Search" class="
                    w-full
                    px-4
                    py-2
                    text-xl
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700
                    focus:bg-white
                    focus:border-red-600
                    focus:outline-none
                  " v-on:keyup="search()" />
    </div>
    <p style="text-align: center; font-size:45px;" id="loadingMessage" class="hidden">Loading...</p>
    <div class="flex flex-col" :style="{ 'max-height': `450px` }">
      <div class="overflow-x-auto">
        <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow-md sm:rounded-lg">
            <table id="tableData" class="min-w-full">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th v-for="header in rowHeader" scope="col" class="
                                py-3
                                px-6
                                text-xs
                                font-medium
                                tracking-wider
                                text-left text-gray-700
                                uppercase
                                dark:text-gray-400">
                    {{ header }}
                  </th>
                  <th hidden>
                    ID
                  </th>
                  <th v-if="rowHeader.length != 0">
                    Remove
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, rowIndex) in rowData" :id="item[0]" class="
                              bg-white
                              border-b
                              dark:bg-gray-800 dark:border-gray-700
                            ">
                  <!-- Do not remove itemAttribute below.
         Although it is not used, its presence is required for the index to be an index. -->
                  <td v-for="(itemAttribute, index) in numAttributes" scope="row" class="
                                py-4
                                px-6
                                text-sm
                                font-medium
                                text-gray-900
                                whitespace-nowrap
                                dark:text-white
                              ">
                    <div v-if="rowHeader.length == 17 && index >= 5 && index <= 10" class="checkboxes">
                      <input class="checkbox center-block" type="checkbox" checked
                        v-if="item[index] !== undefined && item[index] !== null">
                      <input class="checkbox center-block" type="checkbox" v-else>
                    </div>
                    <div v-else contenteditable>
                      {{ item[index] }}
                    </div>
                  </td>
                  <td hidden>
                    {{ item[numAttributes.length] }}
                  </td>
                  <td>
                    <div class="flex items-center justify-center bg-grey-lighter px-5 py-5">
                      <button class="
                            inline-block
                            px-6
                            py-2.5
                            bg-red-500
                            text-white
                            font-medium
                            text-xl
                            leading-tight
                            uppercase
                            rounded
                            shadow-md
                            hover:bg-red-600 hover:shadow-lg
                            focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0
                            active:bg-red-700 active:shadow-lg
                            transition
                            duration-150
                            ease-in-out
                            " v-on:click="deleteRow(rowIndex)" v-if="rowData != []">
                        Delete
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>


//export default {};
import axios from "axios";
import Vue from "vue";
const editChecker = require('../../node_express_server/editFileChecker');
const cookie = require('../../node_express_server/cookie');

export default Vue.extend({
  data: function () {
    return {
      selectedSection: null,
      rowsToDelete: [],
      fileRowData: [],
      rowHeader: [],
      rowData: [],
      getCookieValue: (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
      )
    };
  },
  mounted() {
  },
  methods: {

    async search() {
      // Declare variables
      let input, filter, table, tr, td, i, j;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("tableData");
      tr = table.getElementsByTagName("tr");

      let match = false;
      for (i = 1; i < tr.length; i++) {
        (td = tr[i].getElementsByTagName("td")), (match = false);
        for (j = 0; j < td.length; j++) {
          if (
            td[j].innerHTML.toUpperCase().replace(/  +/g, " ").indexOf(filter) >
            -1
          ) {
            match = true;
            break;
          }
        }
        if (!match) {
          tr[i].style.display = "none";
        } else {
          tr[i].style.display = "";
        }
      }
      return 0;
    },
    async onSave() {
      let searchValue = document.getElementById("myInput").value;
      let editedEntries = [];
      document.getElementById("myInput").value = "";
      await this.search();
      let rows = document.getElementById("tableData").rows;
      this.$refs.editError.classList.add("hidden");
      this.$refs.editSuccess.classList.add("hidden");

      // Grab the new table
      let returnArray = [];
      for (let x = 1; x < rows.length; x++) {
        let currentArray = [];
        for (let y = 0; y < rows[x].cells.length - 1; y++) {
          if (y == rows[x].cells.length - 2) {
            // Special case for ID
            let rawID = rows[x].cells[y].innerText.toString().trim();
            currentArray.push(rawID);
          } else if (this.rowHeader.length == 17 && y >= 5 && y <= 10) {
            // Special case for date check boxes
            let checkBoxesDiv = rows[x].cells[y].getElementsByClassName("checkboxes");
            let checkbox = checkBoxesDiv[0].getElementsByClassName("checkbox");

            if (checkbox[0].checked) {
              switch (y) {
                case 5:  // Monday
                  currentArray.push("M");
                  break;
                case 6:  // Tuesday
                  currentArray.push("T");
                  break;
                case 7:  // Wednesday
                  currentArray.push("W");
                  break;
                case 8:  // Thursday
                  currentArray.push("R");
                  break;
                case 9:  // Friday
                  currentArray.push("F");
                  break;
                case 10: // Saturday
                  currentArray.push("S");
                  break;
              }
            } else {
              // Checkbox not checked, add blank
              currentArray.push("");
            }
          } else {
            currentArray.push(rows[x].cells[y].innerText);
          }
        }
        returnArray.push(currentArray);
      }

      // Grab the original rowData in order to check for change
      let plainRowData = [];
      for (let x = 0; x < this.rowData.length; x++) {
        let newRow = [];
        for (let y = 0; y < this.rowData[x].length; y++) {
          if (this.rowData[x][y] != undefined) {
            newRow.push(this.rowData[x][y]);
          } else {
            newRow.push("");
          }
        }
        plainRowData.push(newRow);
      }

      // Check for change between original table and new table
      let numDeletedFound = 0;
      for (let x = 0; x < returnArray.length; x++) {
        let id = plainRowData[x][plainRowData[x].length - 1];
        let inDeleted = false;
        for (let z = 0; z < this.rowsToDelete.length; z++) {
          if (id === this.rowsToDelete[z][this.rowsToDelete[z].length - 1]) {
            inDeleted = true;
            numDeletedFound++;
          }
        }
        if (!inDeleted) {
          let changedRow = false;
          for (let y = 0; y < returnArray[x].length - 1; y++) {
            // Compares every attribute except for the ID
            if (returnArray[x - numDeletedFound][y].toString() !== plainRowData[x][y].toString()) {
              changedRow = true;
            }
          }
          if (changedRow) {
            let changedObject;
            switch (this.selectedSection) {
              case "athletes":
                changedObject = {
                  "Student Email": returnArray[x][0],
                  Name: returnArray[x][1],
                  Sport: returnArray[x][2],
                  id: returnArray[x][3]
                };
                break;
              case "events":
                changedObject = {
                  Date: editChecker.hasNumbers(returnArray[x][0]) ? returnArray[x][0] : "",
                  Opponent: returnArray[x][1],
                  Time: editChecker.hasNumbers(returnArray[x][2]) ? returnArray[x][2] : "",
                  Location: returnArray[x][3],
                  "Departure Time": editChecker.hasNumbers(returnArray[x][4]) ? returnArray[x][4] : "",
                  Sport: returnArray[x][5],
                  id: returnArray[x][6]
                };
                break;
              case "student-schedules":
                changedObject = {
                  STUDENT_EMAIL: returnArray[x][0],
                  YR_CDE: returnArray[x][1],
                  TRM_CDE: returnArray[x][2],
                  CRS_CDE: returnArray[x][3],
                  room_cde: returnArray[x][4],
                  MONDAY_CDE: returnArray[x][5],
                  TUESDAY_CDE: returnArray[x][6],
                  WEDNESDAY_CDE: returnArray[x][7],
                  THURSDAY_CDE: returnArray[x][8],
                  FRIDAY_CDE: returnArray[x][9],
                  SATURDAY_CDE: returnArray[x][10],
                  BEGIN_TIM: editChecker.hasNumbers(returnArray[x][11]) ? returnArray[x][11] : "",
                  END_TIM: editChecker.hasNumbers(returnArray[x][12]) ? returnArray[x][12] : "",
                  BEGIN_DTE: editChecker.hasNumbers(returnArray[x][13]) ? returnArray[x][13] : "",
                  END_DTE: editChecker.hasNumbers(returnArray[x][14]) ? returnArray[x][14] : "",
                  Professor: returnArray[x][15],
                  PROFESSOR_EMAIL: returnArray[x][16],
                  id: returnArray[x][17]
                };
                break;
              case "exam-schedule":
                changedObject = {
                  COURSE: returnArray[x][0],
                  INSTRUCTOR: returnArray[x][1],
                  EXAM_DAY: returnArray[x][2],
                  EXAM_TIME: editChecker.hasNumbers(returnArray[x][3]) ? returnArray[x][3] : "",
                  EXAM_ROOM: returnArray[x][4],
                  id: returnArray[x][5]
                }
                break;
            }
            editedEntries.push(changedObject);
          }
        }
      }

      // Only make the call to change, if change has occured and a table is selected
      if (this.selectedSection != null) {
        let response;
        if (editedEntries.length > 0) {
          let errorMessage = "";
          let display = false;
          for (let x = 0; x < editedEntries.length; x++) {
            let editsCorrectReponse = await editChecker.checkEdits(editedEntries[x], this.selectedSection);
            if (editsCorrectReponse === 0) {
              response = await axios
                .get("./api/updateMongoDB", {
                  params: {
                    editedData: editedEntries[x],
                    deletedData: null,
                    updateSection: this.selectedSection,
                    token: this.getCookieValue('login')
                  },
                });
              if (response.data != "Complete") {
                display = true;
                errorMessage += response.data + "<br>";
              }
            } else {
              display = true;
              errorMessage += editsCorrectReponse + "<br>";
            }
          }
          if (display) {
            this.$refs.editError.classList.remove("hidden");
            this.$refs.editWarning.innerHTML = errorMessage + "\nFor these reasons the changes could not be made.";
          } else {
            this.$refs.editSuccess.classList.remove("hidden");
          }
        }
        if (this.rowsToDelete.length > 0) {
          response = await axios
            .get("./api/updateMongoDB", {
              params: {
                editedData: null,
                deletedData: this.rowsToDelete,
                updateSection: this.selectedSection,
                token: this.getCookieValue('login')
              },
            });
          if (response != "Complete") {
            this.$refs.editError.classList.remove("hidden");
            this.$refs.editWarning.innerHTML = response + "<br> For this reason the changes could not be made.";
          } else {
            this.$refs.editSuccess.classList.remove("hidden");
          }
        }
      }
      this.dataSelect(this.selectedSection);
      document.getElementById("myInput").value = searchValue;
      this.search();
    },
    deleteRow(rowIndex) {
      let rowToDelete = this.rowData[rowIndex];
      let rows = document.getElementById("tableData").rows;
      for (let x = 1; x < rows.length; x++) {
        let rawID = rows[x].cells[rows[x].cells.length - 2].innerText.toString().trim();
        if (rawID == rowToDelete[rowToDelete.length - 1]) {
          document.getElementById("tableData").deleteRow(x);
          this.rowsToDelete.push(rowToDelete);
        }
      }
    },
    dataSelect(file_name) {
      document.getElementById("myInput").value = "";
      let table = document.getElementById("tableData");
      let loadingMessage = document.getElementById("loadingMessage");
      table.classList.add("hidden");
      loadingMessage.classList.remove("hidden");
      axios.get("./api/retrieveData", {
        params: {
          dataWanted: file_name,
          token: this.getCookieValue('login')
        },
      }).then(async (response) => {
        if (response.data === false) {
          loadingMessage.classList.add("hidden");
          console.log('Token not valid or not provided')
          return
        }
        let files_uploaded_data = response["data"];
        this.rowData = [];
        this.rowHeader = [];
        this.numAttributes = [];                      // Used as a counter to determine how many columns each section needs
        this.rowsToDelete = [];
        switch (file_name) {
          case "student-schedules":
            this.rowHeader = ["STUDENT EMAIL", "YEAR CODE", "TERM CODE", "COURSE CODE", "ROOM CODE", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY", "BEGIN TIME", "END TIME", "BEGIN DATE", "END DATE", "PROFESSOR", "PROFESSOR EMAIL"];
            this.numAttributes = [" ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " ", " "];
            this.selectedSection = "student-schedules";
            break;
          case "athletes":
            this.rowHeader = ["STUDENT EMAIL", "NAME", "SPORT"];
            this.numAttributes = [" ", " ", " "];
            this.selectedSection = "athletes";
            break;
          case "events":
            this.rowHeader = ["DATE", "OPPONENT", "TIME", "LOCATION", "DEPARTURE TIME", "SPORT"];
            this.numAttributes = [" ", " ", " ", " ", " ", " "];
            this.selectedSection = "events";
            break;
          case "exam-schedule":
            this.rowHeader = ["COURSE", "INSTRUCTOR", "EXAM DAY", "EXAM TIME", "EXAM ROOM"];
            this.numAttributes = [" ", " ", " ", " ", " "];
            this.selectedSection = "exam-schedule";
        }
        for (let i = 0; i < files_uploaded_data.length; i++) {
          let expiration_date = new Date(files_uploaded_data[i]["expiration_date"]);
          if (expiration_date.getTime() < Date.now()) continue; // if now is after the expiration date, skip the file
          switch (file_name) {
            case "student-schedules":
              let currentStudent = [];

              let splitBySpaces = files_uploaded_data[i]["CRS_CDE"].toString().split(" ");
              let newArray = [];
              await splitBySpaces.forEach(element => {
                if (element != "") {
                  newArray.push(element);
                }
              });
              let newCourseCode = newArray[0] + " " + newArray[1] + " " + newArray[2];

              currentStudent.push(files_uploaded_data[i]["STUDENT_EMAIL"]);
              currentStudent.push(files_uploaded_data[i]["YR_CDE"]);
              currentStudent.push(files_uploaded_data[i]["TRM_CDE"]);
              currentStudent.push(newCourseCode);
              currentStudent.push(files_uploaded_data[i]["room_cde"]);
              currentStudent.push(files_uploaded_data[i]["MONDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["TUESDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["WEDNESDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["THURSDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["FRIDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["SATURDAY_CDE"]);
              currentStudent.push(files_uploaded_data[i]["BEGIN_TIM"]);
              currentStudent.push(files_uploaded_data[i]["END_TIM"]);
              currentStudent.push(files_uploaded_data[i]["BEGIN_DTE"]);
              currentStudent.push(files_uploaded_data[i]["END_DTE"]);
              currentStudent.push(files_uploaded_data[i]["Professor"]);
              currentStudent.push(files_uploaded_data[i]["PROFESSOR_EMAIL"]);
              currentStudent.push(files_uploaded_data[i]["_id"]);

              this.rowData.push(currentStudent);
              break;
            case "athletes":
              let currentAthlete = [];
              currentAthlete.push(files_uploaded_data[i]["Student Email"]);
              currentAthlete.push(files_uploaded_data[i]["Name"]);
              currentAthlete.push(files_uploaded_data[i]["Sport"]);
              currentAthlete.push(files_uploaded_data[i]["_id"]);

              this.rowData.push(currentAthlete);
              break;
            case "events":
              let currentEvent = [];

              currentEvent.push(files_uploaded_data[i]["Date"]);
              currentEvent.push(files_uploaded_data[i]["Opponent"]);
              currentEvent.push(files_uploaded_data[i]["Time"]);
              currentEvent.push(files_uploaded_data[i]["Location"]);
              currentEvent.push(files_uploaded_data[i]["Departure Time"]);
              currentEvent.push(files_uploaded_data[i]["Sport"]);
              currentEvent.push(files_uploaded_data[i]["_id"]);

              this.rowData.push(currentEvent);
              break;
            case "exam-schedule":
              let currentExam = [];

              currentExam.push(files_uploaded_data[i]["COURSE"]);
              currentExam.push(files_uploaded_data[i]["INSTRUCTOR"]);
              let date = new Date(files_uploaded_data[i]["EXAM_DAY"]);
              let dayNumber = date.getDay();
              let dayString;
              switch (dayNumber) {
                case 0:
                  dayString = 'Sunday';
                  break;
                case 1:
                  dayString = 'Monday';
                  break;
                case 2:
                  dayString = 'Tuesday';
                  break;
                case 3:
                  dayString = 'Wednesday';
                  break;
                case 4:
                  dayString = 'Thursday';
                  break;
                case 5:
                  dayString = 'Friday';
                  break;
                case 6:
                  dayString = 'Saturday';
                  break;
              }
              currentExam.push(dayString);
              currentExam.push(files_uploaded_data[i]["EXAM_TIME"]);
              currentExam.push(files_uploaded_data[i]["EXAM_ROOM"]);
              currentExam.push(files_uploaded_data[i]["_id"]);

              this.rowData.push(currentExam);
          }
        }
        table.classList.remove("hidden");
        loadingMessage.classList.add("hidden");
      }).catch((Error) => {
        console.log("Error here:", Error);
      });
    }
  }
});    
</script>

<style>
.failure {
  padding: 20px;
  background-color: #B33A3A;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.center-block {
  margin: auto;
  display: block;
}
</style>