<template>
  <!-- <StackedLayout> -->
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md sm:rounded-lg">
          <table class="min-w-full">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Conflict Date
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Professor Email
                </th>
                <th scope="col" class="
                    py-3
                    px-6
                    text-xs
                    font-medium
                    tracking-wider
                    text-left text-gray-700
                    uppercase
                    dark:text-gray-400
                  ">
                  Professor Name
                </th>
                <div class="flex flex-wrap">
                  <th scope="col" class="
                      py-3
                      px-6
                      text-xs
                      font-medium
                      tracking-wider
                      text-left text-gray-700
                      uppercase
                      dark:text-gray-400
                    ">
                    Email Content
                  </th>
                </div>
                <th scope="col" class="
                      py-3
                      px-6
                      text-xs
                      font-medium
                      tracking-wider
                      text-left text-gray-700
                      uppercase
                      dark:text-gray-400
                    ">
                  Sent?
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- Product 1 -->
              <tr v-for="item in rowData" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td scope="row" class="
                    py-4
                    px-6
                    text-sm
                    font-medium
                    text-gray-900
                    whitespace-nowrap
                    dark:text-white
                  " v-if="item.disable_emails == 'false' || item.disable_emails === null">
                  {{ item.conflict_date }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="item.disable_emails == 'false' || item.disable_emails === null">
                  {{ item.professor_email }}
                </td>
                <td class="
                    py-4
                    px-6
                    text-sm text-gray-500
                    whitespace-nowrap
                    dark:text-gray-400
                  " v-if="item.disable_emails == 'false' || item.disable_emails === null">
                  {{ item.professor_name }}
                </td>
                <div class="flex flex-wrap">
                  <td class="
                      py-4
                      px-6
                      text-sm text-gray-500
                      
                      dark:text-gray-400
                    " v-if="item.disable_emails == 'false' || item.disable_emails === null">
                    {{ item.conflict_description }}
                  </td>
                </div>
                <td class="
                      py-4
                      px-6
                      text-sm text-gray-500
                      
                      dark:text-gray-400
                    " v-if="item.disable_emails == 'false' || item.disable_emails === null">
                  {{ item.sent }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <health />
  </div>
  <!-- </StackedLayout> -->
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      conflict_date: "",
      professor_email: "",
      professor_name: "",
      conflict_desription: "",
      sent: "",
      emails: "",
      rowData: [],
      sendToProf: false,
      getCookieValue: (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
      )
    };
  },
  created() {
    axios.get("./api/emails", {
      params: {
        token: this.getCookieValue('login')
      }
    }).then((response) => {
      console.log(response);
      if (response === false) return
      var email_data = response["data"];
      for (var i = 0; i < email_data.length; i++) {
        console.log(email_data[i]["conflict_description"]);
        var my_object = {
          conflict_date: email_data[i]["conflict_date"],
          professor_email: email_data[i]["professor_email"],
          professor_name: email_data[i]["professor_name"],
          conflict_description: email_data[i]["conflict_description"],
          sent: email_data[i]["sent"] == true ? "Yes" : "No",
          disable_emails: email_data[i]["disable_emails"]
        };
        this.rowData.push(my_object);

        this.conflict_date = "";
        this.professor_email = "";
        this.professor_name = "";
        this.conflict_description = "";
        this.sent = "";
      }
    });
  },
  methods: {
    checkSendStatus: function (e) {
      this.sendToProf = document.getElementById("sendEmails").checked;
      console.log(this.sendToProf);
    }
  }
};
</script>
