<template>
  <!-- <StackedLayout> -->
  <div class="flex flex-col justify-center items-center">
    <p class="text-xl font-bold leading-relaxed mt-6 mb-4 text-gray-800">
      How to Upload a File
    </p>
    <ol class="list-decimal pb-5">
      <li>
        Select the “Upload” button and select the file you wish to upload.
      </li>
      <li>
        Make sure that the system does not return any incorrect formatting found in the file. If anything is found, make the changes to the file and re-upload.
      </li>
      <li>Click on the "Submit" button to upload your file.</li>
      <!-- ... -->
    </ol>
    <button
      type="button"
      class="
        inline-block
        px-6
        py-2.5
        bg-transparent
        text-black-600
        font-medium
        text-m
        leading-tight
        uppercase
        rounded
        hover:bg-gray-100
        focus:text-red-700 focus:bg-gray-100 focus:outline-none focus:ring-0
        active:bg-gray-200 active:text-red-600
        border border-gray-600
        transition
        duration-300
        ease-in-out
      "
      onclick="window.open('/walkthrough.pdf','_blank');"
    >
      Print Detailed Instructions
    </button>
    <div class="px-5 py-5">
      <video width="1000" controls>
        <source src="/walkthrough2023.mp4" type="video/mp4" />
      </video>
    </div>
    <health />
  </div>
  <!-- </StackedLayout> -->
</template>

<script>
import health from '../components/health.vue';
export default {
  components: { health },};
</script>