
<template>
  <!-- <StackedLayout> -->
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 pt-6 text-red-600">
      Welcome to the MSOE Athletic Communicator Website
    </h1>
    <h2
      class="font-medium leading-tight text-4xl mt-0 mb-2 pb-0 text-black-600"
    >
      What We Do
    </h2>
    <p
      style="text-align: center"
      class="
        flex flex-col
        justify-center
        items-center
        w-3/4
        text-xl
        font-light
        leading-relaxed
        mt-6
        mb-4
        text-gray-800
      "
    >
      While the Athletic Department ensures it doesn’t happen often, sometimes
      student-athletes at MSOE must miss class for a competition. The Athletic
      Communicator, or AthComm, automatically determines schedule conflicts for
      student-athletes and notifies professors from an official MSOE email. This
      is not intended to replace the student informing their professor of their
      expected absence, but rather to supplement the student-teacher
      conversation and provide an official reference for professors that will
      have all known schedule conflicts for their courses during the quarter.
    </p>
    <h2 class="font-medium leading-tight text-4xl mt-0 text-black-600">
      How to Use the Site
    </h2>
    <p
      style="text-align: center"
      class="w-3/4 text-xl font-light leading-relaxed mt-6 mb-4 text-gray-800"
    >
      <strong>To upload a new file,</strong> simply navigate to the
      <NuxtLink
        to="/upload"
        class="underline text-blue-600 hover:text-red-800 visited:text-red-600"
        >Uploads</NuxtLink
      >
      page and follow the prompts.
      <NuxtLink
        to="/upload"
        class="underline text-blue-600 hover:text-red-800 visited:text-red-600"
        >Uploads</NuxtLink
      >
      page, you can find stubbed out copies of the roster and schedule files
      that need to be uploaded. For additional help when uploading, please visit
      the
      <NuxtLink
        to="/help"
        class="underline text-blue-600 hover:text-red-800 visited:text-red-600"
        >Help</NuxtLink
      >
      page<br /><br />
      <strong>To see a list of all conflicts,</strong> visit the
      <NuxtLink
        to="/conflicts"
        class="underline text-blue-600 hover:text-red-800 visited:text-red-600"
        >Conflicts</NuxtLink
      >
      page where you will be met with a list of all the conflicts for the
      current quarter. On this page, you can filter results to see just the
      conflicts that may impact you.
    </p>
  </div>
  <!-- </StackedLayout> -->
</template>

<script>
export default {};
</script>
