
<template>
  <!-- <StackedLayout> -->
  <div class="flex flex-col justify-center items-center">
    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 pt-6 text-red-600">
      Log In
    </h1>
    <!-- <h2
        class="font-medium leading-tight text-4xl mt-0 mb-2 pb-0 text-black-600 text-align: left"
      >
        Username:
      </h2>
     <input type="text" id="uname" name="uname"><br><br>
      <h2
        class="font-medium leading-tight text-4xl mt-0 mb-2 pb-0 text-black-600 text-align: left"
      >
        Password:
      </h2>
        <input type="text" id="password" name="password"><br><br>
        <input type="button" id="comboSubmit" name="comboSubmit" text="Submit"><br> -->
    <div class="bg-white shadow-md rounded px-64 pt-6 pb-8 mb-4 flex flex-col">
      <div class="mb-4">
        <label
          class="block text-grey-darker text-sm font-bold mb-2"
          for="username"
        >
          Username
        </label>
        <input
          class="
            shadow
            appearance-none
            border
            rounded
            w-full
            py-2
            px-3
            text-grey-darker
          "
          id="username"
          type="text"
          placeholder="Username"
        />
      </div>
      <div class="mb-6">
        <label
          class="block text-grey-darker text-sm font-bold mb-2"
          for="password"
        >
          Password
        </label>
        <input
          class="
            shadow
            appearance-none
            border border-red
            rounded
            w-full
            py-2
            px-3
            text-grey-darker
            mb-3
          "
          id="password"
          type="password"
          placeholder="******************"
        />
        <p class="text-red text-xs italic">Please choose a password.</p>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="
            bg-red-600
            hover:bg-red-800
            text-white
            font-bold
            py-2
            px-4
            rounded
          "
          type="button"
          v-on:click="signInMethod()"
        >
          Sign In
        </button>
        <a
          class="
            inline-block
            align-baseline
            font-bold
            text-sm text-blue
            hover:text-blue-darker
          "
          href="#"
        >
          Forgot Password?
        </a>
      </div>
    </div>
    <div>
      <h1 id="loggedInMessage"></h1>
    </div>
    <div>
      <p id="loginErrorText" class="hidden">Please enter a correct password.</p>
    </div>
    <health />
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {};
  },
  computed: {
    authenticated: {
      get() {
        return this.$store.state.tempAuth.isAuthenticated;
      },
      set(value) {
        this.$store.commit("tempAuth/setAuthenticated", value);
      },
    },
  },
  methods: {
    signInMethod() {
      let enteredUsername = document.getElementById("username").value;
      let enteredPassword = document.getElementById("password").value;
      axios
        .get("./api/processLogin", {
          params: {
            username: enteredUsername,
            password: enteredPassword,
          },
        })
        .then((response) => {
          console.log(response);
          if (response.data !== false) {
            document.getElementById("loginErrorText").classList.add("hidden");
            this.authenticated = response.data;
            document.cookie = `login=${response.data}`
            this.$router.push({
              path: "/",
            });
          } else {
            document.getElementById("loginErrorText").classList.remove("hidden");
          }
        });
    },
  },
};
</script>
