<template>
  <!-- <StackedLayout> -->
  <div>
    <div class="overlay" ref="overlay">
      <div class="popupBox overflow-hidden shadow-md sm:rounded-lg">
        <div style="height: 20%; text-align: center"
          class="container-fluid w-full flex flex-wrap items-center justify-evenly px-6">
          <strong>Reset Database Confirmation</strong>
        </div>
        <div style="height: 60%; text-align: center"
          class="container-fluid w-full flex flex-wrap items-center justify-evenly px-6">
          Are you sure you want to delete all database entries?
        </div>
        <div style="height: 20%">
          <button class="popupButton" type="button" v-on:click="handleReset()">Confirm</button>
          <button class="popupButton" type="button" v-on:click="popupOff()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="success hidden" ref="resetSuccess">
      <span class="closebtn" onclick="this.parentElement.className='success hidden';">&times;</span>
      <strong>Success!</strong> Database reset successfully.
    </div>
    <div class="flex flex-col justify-center items-center" ref="warning">
      <p style="text-align: center" class="
          flex flex-col
          justify-center
          items-center
          w-3/4
          text-xl
          font-light
          leading-relaxed
          mt-6
          mb-4
          text-gray-800
        ">
        By continuing to the reset page, you are taking a risk. The reset button
        will erase all data entries in the database. Upon resetting the database,
        there will be no conflicts nor emails to be sent.
      </p>
      <p style="text-align: center" class="
          flex flex-col
          justify-center
          items-center
          w-3/4
          text-2xl
          leading-relaxed
          mt-6
          mb-4
          text-gray-1000
        ">
        Do you acknowledge the risk you are taking?
      </p>
      <p style="text-align: center">
        <button type="submit" class="
              inline-block
              px-6
              py-2.5
              bg-transparent
              text-black-600
              font-medium
              text-m
              leading-tight
              uppercase
              rounded
              hover:bg-green-100
              focus:text-green-700
              focus:bg-gray-100
              focus:outline-none
              focus:ring-0
              active:bg-gray-200 active:text-green-600
              border border-gray-600
              transition
              duration-300
              ease-in-out
            " v-on:click="clearWarning()">
          Proceed
        </button>
      </p>
    </div>
    <div class="flex flex-col justify-center items-center hidden" ref="reset">
      <p style="text-align: center" class="
          flex flex-col
          justify-center
          items-center
          w-3/4
          text-xl
          font-light
          leading-relaxed
          mt-6
          mb-4
          text-gray-800
        ">
        To empty the database, select the reset button below.
      </p>
      <button type="button" class="
          inline-block
          px-12
          py-5
          bg-transparent
          text-red-600
          font-large
          text-xl
          leading-tight
          uppercase
          rounded
          hover:bg-red-100
          focus:text-red-700 focus:bg-gray-100 focus:outline-none focus:ring-0
          active:bg-gray-200 active:text-red-600
          border border-red-600
          transition
          duration-300
          ease-in-out
        " v-on:click="popupOn()">
        Reset
      </button>
      <health />
    </div>
  </div>
  <!-- </StackedLayout> -->
</template>

<script>
import axios from "axios";
import Vue from "vue";

export default {
  data() {
    return {
      getCookieValue: (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
      )
    };
  },

  methods: {
    resetDatabase() {
      axios.get("./api/deleteDocuments", {
        params: {
          token: this.getCookieValue('login')
        }
      });
    },

    clearWarning() {
      this.$refs.warning.classList.add("hidden");
      this.$refs.reset.classList.remove("hidden");
    },

    handleReset() {
      this.resetDatabase();
      this.$refs.resetSuccess.classList.remove("hidden");
      this.$refs.overlay.style["display"] = "none";
    },

    popupOn() {
      this.$refs.overlay.style["display"] = "block";
    },

    popupOff() {
      this.$refs.overlay.style["display"] = "none";
    },
  },
};
</script>

<style>
.success {
  padding: 20px;
  background-color: #4BB543;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.popupBox {
  position: absolute;
  width: 30%;
  height: 40%;
  top: 50%;
  left: 50%;
  font-size: 20px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.popupButton {
  width: 50%;
  height: 100%;
  float: left;
  background-color: rgba(243, 244, 246);
}
</style>