<template>
  <div>
    <div class="alert hidden" ref="alertEmailSent">
      <span class="closebtn" onclick="this.parentElement.className='alert hidden';">&times;</span>
      <strong>Failure!</strong> An email has already been sent on behalf of this file. Unable to delete.
    </div>
    <div class="alert hidden" ref="alertFileHasErrors">
      <span class="closebtn" onclick="this.parentElement.className='alert hidden';">&times;</span>
      <strong>Error!</strong> One of the files you selected contains errors, to see specific errors, select each file one
      at a time.
    </div>
    <div class="alert hidden" ref="alertFinalExamSelected">
      <span class="closebtn" onclick="this.parentElement.className='alert hidden';">&times;</span>
      <strong>Error!</strong> One of the files you selected is a final exam schedule. These file types need to be uploaded
      one at a time.
    </div>
    <div class="alert hidden" ref="alertFileTypeUndetermined">
      <span class="closebtn" onclick="this.parentElement.className='alert hidden';">&times;</span>
      <strong>Error!</strong> The file type from one or more of your files could not be determined. To see specific
      errors, select each file one at a time.
    </div>
      <div class="success hidden" ref="uploadSuccess">
        <span class="closebtn" onclick="this.parentElement.className='success hidden';">&times;</span>
        <strong>Success!</strong> File successfully uploaded.
      </div>
    <!-- This is where the upload functionality comes from. -->
    <div id="app" class="grid grid-flow-row-dense grid-cols-2">
      <div>
        <div class="flex items-center justify-center bg-grey-lighter px-5 py-5">
          <label class="
                w-64
                flex flex-col
                items-center
                px-4
                py-6
                bg-white
                text-black
                rounded-lg
                shadow-lg
                tracking-wide
                uppercase
                border
                cursor-pointer
                hover:bg-gray-200 hover:text-red-600
              ">
            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path
                d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
            </svg>
            <span class="mt-2 text-base leading-normal">Upload</span>
            <input type="file" class="hidden" id="file" ref="file" name="file" accept=".csv" multiple
              v-on:click="clearFiles()" v-on:change="filesUploadHandler()" />
          </label>
        </div>
        <div id="finalsDate" class="hidden flex items-center justify-center bg-grey-lighter px-5">
          <h5>Enter date of monday of finals week: </h5>
          <input id="finalDateText" type="text" placeholder="MM/DD/YYYY" width="100px" class="
                width:135px
                px-4
                text-s
                font-normal
                text-gray-700
                bg-white bg-clip-padding
                border border-solid border-gray-300
                rounded
                transition
                ease-in-out
                m-0
                focus:text-gray-700
                focus:bg-white
                focus:border-red-600
                focus:outline-none" />
        </div>
        <div class="flex items-center justify-center bg-grey-lighter px-5">
          {{ file.name }} {{ uploadStatus }}
        </div>
        <div class="
              container-fluid
              w-full
              flex flex-wrap
              items-center
              justify-evenly
              px-6
            ">
          <div>
            <p class="flex w-full h-full items-center justify-center" id="fileSelected"></p>
          </div>
        </div>
        <div class="
              container-fluid
              w-full
              flex flex-wrap
              items-center
              justify-evenly
              px-6
              hidden
            " id="eventNotificationDiv">
          <div>
            <p class="flex w-full h-full items-center justify-center font-bold">
              You have uploaded an event file. Make sure that multiple day events have mutliple entries.
            </p>
          </div>
        </div>
        <div class="
              container-fluid
              w-full
              flex flex-wrap
              items-center
              justify-evenly
              px-6
            ">
          <div id="fileUploadText">
            <p class="flex w-full h-full items-center justify-center font-bold" id="titleText"></p>
            <p class="
                  flex
                  w-full
                  h-full
                  items-center
                  justify-center
                  px-5
                  py-5
                  font-regular
                " id="filesText"></p>
            <p class="
                  flex
                  w-full
                  h-full
                  items-center
                  justify-center
                  px-5
                  py-5
                  font-regular
                  hidden
                " id="fileErrorText"></p>
          </div>
        </div>
        <div class="
              container-fluid
              w-full
              items-center
              justify-evenly
              px-6
              hidden
            " id="expectedHeaders">
          <div>
            <h2 class="flex w-full h-full items-center justify-center font-bold">These headers should be included in a
              Roster CSV File:</h2>
          </div>
          <div>
            <h5 class="flex w-full h-full items-center justify-center px-5 py-5 font-regular">Student Email | Name |
              Sport
            </h5>
          </div>
          <div>
            <h2 class="flex w-full h-full items-center justify-center font-bold">These headers should be included in a
              Sport Schedule Schedule CSV File:</h2>
          </div>
          <div>
            <h5 class="flex w-full h-full items-center justify-center px-5 py-5 font-regular">Date | Opponent | Time |
              Location | Departure Time | Sport</h5>
          </div>
          <div>
            <h2 class="flex w-full h-full items-center justify-center font-bold">These headers should be included in a
              Class Schedule CSV File:</h2>
          </div>
          <div>
            <h5 class="flex w-full h-full items-center justify-center px-5 py-5 font-regular">STUDENT_EMAIL | YR_CDE |
              TRM_CDE | CRS_CDE | room_cde | MONDAY_CDE | TUESDAY_CDE | WEDNESDAY_CDE |
              THURSDAY_CDE | FRIDAY_CDE | SATURDAY_CDE | BEGIN_TIM | END_TIM | BEGIN_DTE | END_DTE | Professor |
              PROFESSOR_EMAIL</h5>
          </div>
          <div>
            <h2 class="flex w-full h-full items-center justify-center font-bold">These headers should be included in a
              Final Exam Schedule CSV File:</h2>
          </div>
          <div>
            <h5 class="flex w-full h-full items-center justify-center px-5 py-5 font-regular">Course | Instructor | Exam
              Day | Exam Time | Exam Room</h5>
          </div>
        </div>
        <div class="flex items-center justify-center bg-grey-lighter px-5 py-5">
          <button class="
                inline-block
                px-6
                py-2.5
                bg-green-500
                text-white
                font-medium
                text-xl
                leading-tight
                uppercase
                rounded
                shadow-md
                hover:bg-green-600 hover:shadow-lg
                focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0
                active:bg-green-700 active:shadow-lg
                transition
                duration-150
                ease-in-out
                hidden
              " v-on:click="onSubmit()" id="SubmitBtn">
            Submit
          </button>
        </div>
        <div class="col-span-2">
          <div class="flex flex-col justify-start items-center my-2">
            <button type="button" class="
                inline-block
                px-6
                py-2.5
                bg-transparent
                text-black-600
                font-medium
                text-m
                leading-tight
                uppercase
                rounded
                hover:bg-gray-100
                focus:text-red-700
                focus:bg-gray-100
                focus:outline-none
                focus:ring-0
                active:bg-gray-200 active:text-red-800
                border border-gray-600
                transition
                duration-300
                ease-in-out
              " onclick="window.location.href='/stubbed_roster.csv';">
              Download Roster Template
            </button>
            <button type="button" class="
                inline-block
                px-6
                py-2.5
                bg-transparent
                text-black-600
                font-medium
                text-m
                leading-tight
                uppercase
                rounded
                hover:bg-gray-100
                focus:text-red-700
                focus:bg-gray-100
                focus:outline-none
                focus:ring-0
                active:bg-gray-200 active:text-red-600
                border border-gray-600
                transition
                duration-300
                ease-in-out
              " onclick="window.location.href='/stubbed_event_schedule.csv';">
              Download Event Schedules Template
            </button>
            <button type="button" class="
                inline-block
                px-6
                py-2.5
                bg-transparent
                text-black-600
                font-medium
                text-m
                leading-tight
                uppercase
                rounded
                hover:bg-gray-100
                focus:text-red-700
                focus:bg-gray-100
                focus:outline-none
                focus:ring-0
                active:bg-gray-200 active:text-red-600
                border border-gray-600
                transition
                duration-300
                ease-in-out
              " 
              onclick="window.location.href='/stubbed_class_schedule.csv';">
              Download Class Schedules Template
            </button>
            <button type="button" class="
                inline-block
                px-6
                py-2.5
                bg-transparent
                text-black-600
                font-medium
                text-m
                leading-tight
                uppercase
                rounded
                hover:bg-gray-100
                focus:text-red-700
                focus:bg-gray-100
                focus:outline-none
                focus:ring-0
                active:bg-gray-200 active:text-red-600
                border border-gray-600
                transition
                duration-300
                ease-in-out
              " 
              onclick="window.location.href='/stubbed_final_exam_schedule.csv';">
              Download Final Exam Schedules Template
            </button>
            <button type="button" class="
                inline-block
                px-6
                py-2.5
                bg-transparent
                text-black-600
                font-medium
                text-m
                leading-tight
                uppercase
                rounded
                hover:bg-gray-100
                focus:text-red-700
                focus:bg-gray-100
                focus:outline-none
                focus:ring-0
                active:bg-gray-200 active:text-red-600
                border border-gray-600
                transition
                duration-300
                ease-in-out
              " 
              onclick="window.location.href='/sports_codes.xlsx';">
              Download Sports Codes
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="flex flex-col">
          <div>
            <div class="inline-block py-2" style="max-width:100%">
              <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full" style="width: 100%;table-layout: fixed;">
                  <thead class="bg-gray-50 dark:bg-gray-700">
                    <tr>
                      <th scope="col" class="
                            py-3
                            px-6
                            text-xs
                            font-medium
                            tracking-wider
                            text-left text-gray-700
                            uppercase
                            dark:text-gray-400
                          " style="width:35%">
                        Files Previously Uploaded
                      </th>
                      <th scope="col" class="
                            py-3
                            px-6
                            text-xs
                            font-medium
                            tracking-wider
                            text-left text-gray-700
                            uppercase
                            dark:text-gray-400
                          ">
                        Date Uploaded
                      </th>
                      <th scope="col" class="
                            py-3
                            px-6
                            text-xs
                            font-medium
                            tracking-wider
                            text-left text-gray-700
                            uppercase
                            dark:text-gray-400
                          ">
                        Expiration Date
                      </th>
                      <th scope="col" class="
                            py-3
                            px-6
                            text-xs
                            font-medium
                            tracking-wider
                            text-left text-gray-700
                            uppercase
                            dark:text-gray-400
                          ">
                        Remove File
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in fileRowData" class="
                          bg-white
                          border-b
                          dark:bg-gray-800 dark:border-gray-700
                        ">
                      <td scope="row" class="
                            might-overflow
                            py-4
                            px-6
                            text-sm
                            font-medium
                            text-gray-900
                            whitespace-nowrap
                            dark:text-white
                          " style="width: 35%;">
                        {{ item.file_name }}
                      </td>

                      <td scope="row" class="
                            py-4
                            px-6
                            text-sm
                            font-medium
                            text-gray-900
                            whitespace-nowrap
                            dark:text-white
                          ">
                        {{ item.date }}
                      </td>
                      <td scope="row" class="
                            py-4
                            px-6
                            text-sm
                            font-medium
                            text-gray-900
                            whitespace-nowrap
                            dark:text-white
                          ">
                        {{ item.expiration }}
                      </td>
                      <td>
                        <div class="flex items-center justify-center bg-grey-lighter px-5 py-5">
                          <button class="
                        inline-block
                        px-6
                        py-2.5
                        bg-red-500
                        text-white
                        font-medium
                        text-xl
                        leading-tight
                        uppercase
                        rounded
                        shadow-md
                        hover:bg-red-600 hover:shadow-lg
                        focus:bg-red-600 focus:shadow-lg focus:outline-none focus:ring-0
                        active:bg-red-700 active:shadow-lg
                        transition
                        duration-150
                        ease-in-out
                        " v-on:click="deleteFile(item.file_name)">
                            Remove
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-flow-row-dense gap-4 grid-cols-3 grid-rows-1">
      
    </div>
    <health />
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
const fileChecker = require('../../node_express_server/editFileChecker');

export default Vue.extend({
  data: function () {
    return {
      uploadStatus: "",
      file: "",
      file_name: "",
      date: "",
      expiration: "",
      fileParseResult: "",
      fileTypes: [
        {
          name: "Roster",
          id: 1,
          headers: ["Student Email", "Name", "Sport"],
        },
        {
          name: "Sport Schedule",
          id: 2,
          headers: ["Date", "Opponent", "Time", "Location", "Departure Time", "Sport"],
        },
        {
          name: "Class Schedule",
          id: 3,
          headers: ["STUDENT_EMAIL", "YR_CDE", "TRM_CDE", "CRS_CDE", "room_cde", "MONDAY_CDE", "TUESDAY_CDE", "WEDNESDAY_CDE", "THURSDAY_CDE", "FRIDAY_CDE", "SATURDAY_CDE", "BEGIN_TIM", "END_TIM", "BEGIN_DTE", "END_DTE", "Professor", "PROFESSOR_EMAIL"],
        },
        {
          name: "Final Exam Schedule",
          id: 4,
          headers: ["COURSE", "INSTRUCTOR", "EXAM_DAY", "EXAM_TIME", "EXAM_ROOM"]
        },
      ],
      selectedFileType: null,
      fileRowData: [],
      currentHeaders: [],
      currentFile: [],
      currentContents: [],
      getCookieValue: (name) => (
        document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
      )
    };
  },
  mounted() {
    this.update_uploaded_files();
  },
  methods: {
    async onSubmit() {
      let expectedHeaders = document.getElementById("expectedHeaders");
      let submitButton = document.getElementById("SubmitBtn");

      // If the file type is a Final Exam and the Monday date isn't verified, don't try to upload
      if (!(this.selectedFileType == 'Final Exam Schedule' && !(await this.verifyMondayForFinals()))) {
        console.log("calling onsubmit funct");
        await this.submitFiles();
        console.log("[FRONT END] Finished the submit files function");
        this.update_uploaded_files();
        this.$refs.uploadSuccess.classList.remove("hidden");
        expectedHeaders.classList.add("hidden");
        submitButton.classList.add("hidden");
      }
    },
    fileList() {
      let list = "";
      for (var i = 0; i < this.files.length; i++) {
        list += (this.files[i].name);
        if (i != this.files.length - 1) list += ", ";
      }
      this.listOfFiles = list;
    },
    update_uploaded_files() {
      axios.get("./api/files_uploaded", {
        params: {
          dataWanted: this.file_name,
          token: this.getCookieValue('login')
        },
      }).then((response) => {
        if (response === false) return
        var files_uploaded_data = response["data"];
        this.fileRowData = [];
        for (var i = 0; i < files_uploaded_data.length; i++) {
          var file = files_uploaded_data[i];
          var my_object = {
            file_name: file["file_name"],
            date: file["date_added"],
            expiration: file["expiration_date"]
          };
          this.fileRowData.push(my_object);

          this.file_name = "";
          this.date = "";
          this.expiration = "";
        }
      });
    },
    async submitFiles() {
      let eventNotificationDiv = document.getElementById("eventNotificationDiv");
      let fileSelected = document.getElementById("fileSelected");
      let titleText = document.getElementById("titleText");
      eventNotificationDiv.classList.add("hidden");
      return new Promise(async (resolve) => {
        // Initialize the form data
        let formData = new FormData();

        this.uploadStatus = "successfully uploaded.";

        formData.append("file", this.file);

        // axios get statement-- allows us to get data from the server
        axios.get("");

        // Make the request to the POST /inputtedFile
        // Allows us to upload file to the server
        for (let i = 0; i < this.files.length; i++) {
          formData.delete("file");
          formData.append("file", this.files[i]);
          await axios
            .post("./api/inputtedFile", formData, {
              headers: {
                "Content-Type": "multipart/form-data"
              },
              params: {
                dataWanted: this.file_name,
                token: this.getCookieValue('login')
              }
            })
            .then(async () => {
              // If successful, the post will do the following
              await axios
                .get("./api/requestFileParse", {
                  params: {
                    file: formData.get("file").name,
                    selectedFileType: this.files[i].fileType,
                    mondayOfFinals: document.getElementById("finalDateText").value,
                    token: this.getCookieValue('login')
                  },
                })
                .then((response) => {
                  this.uploadStatus = formData.get("file").name + " successfully uploaded.";

                  this.fileParseResult = response.data;
                })
                .catch((err) => {
                  console.log("[Nuxt_front] Label2", err);
                });
            })
            .catch((err) => {
              // If fails, will do this
              console.log("[Nuxt_front] FAILURE!! trying to ", err);
              this.uploadStatus = "Upload Failed.";
            });
        }

        fileSelected.innerHTML = "";
        titleText.innerHTML = "";
        filesText.innerHTML = "";

        setTimeout(() => {
          resolve("resolve");
        }, 500);
      });
    },
    async changeFileType(fileType) {
      this.selectedFileType = fileType;
      let titleText = document.getElementById("titleText");
      let filesText = document.getElementById("filesText");
      let submitButton = document.getElementById("SubmitBtn");
      let fileErrorText = document.getElementById("fileErrorText");
      let eventNotificationDiv = document.getElementById("eventNotificationDiv");
      if (this.selectedFileType == "Roster") {
        titleText.innerHTML =
          "<h2>These headers should be included in a Roster CSV File:</h2>";
        filesText.innerHTML = "<h5>Student Email | Name | Sport</h5>";
        finalsDate.classList.add("hidden");
        eventNotificationDiv.classList.add("hidden");
      } else if (this.selectedFileType == "Sport Schedule") {
        eventNotificationDiv.classList.remove("hidden");
        titleText.innerHTML =
          "<h2>These headers should be included in a Sport Schedule Schedule CSV File:</h2>";
        filesText.innerHTML =
          "<h5>Date | Opponent | Time | Location | Departure Time | Sport</h5>";
        finalsDate.classList.add("hidden");
      } else if (this.selectedFileType == "Class Schedule") {
        eventNotificationDiv.classList.add("hidden");
        titleText.innerHTML =
          "<h2>These headers should be included in a Class Schedule CSV File:</h2>";
        filesText.innerHTML =
          "<h5>STUDENT_EMAIL | YR_CDE | TRM_CDE | CRS_CDE | room_cde | MONDAY_CDE | TUESDAY_CDE | WEDNESDAY_CDE | THURSDAY_CDE | FRIDAY_CDE | SATURDAY_CDE | BEGIN_TIM | END_TIM | BEGIN_DTE | END_DTE | Professor | PROFESSOR_EMAIL</h5>";
        finalsDate.classList.add("hidden");
      } else if (this.selectedFileType == "Final Exam Schedule") {
        eventNotificationDiv.classList.add("hidden");
        titleText.innerHTML =
          "<h2>These headers should be included in a Final Exam Schedule CSV File:</h2>";
        filesText.innerHTML =
          "<h5>Course | Instructor | Exam Day | Exam Time | Exam Room</h5>";
        finalsDate.classList.remove("hidden");
      } else {
        eventNotificationDiv.classList.add("hidden");
        titleText.innerHTML = "<h2>File type not detected</h2>";
        filesText.innerHTML = "<h5>Check your file's contents!</h5>";
      }
      let errorText = await this.reportFileErrors();
      if (!(errorText === "" || errorText === undefined) && this.selectedFileType != null) {
        fileErrorText.innerText = `Incorrect entries found in file: ${errorText}`
        fileErrorText.classList.remove("hidden");
        submitButton.classList.add("hidden");
      } else {
        fileErrorText.innerHTML = ""
        fileErrorText.classList.add("hidden");
        submitButton.classList.remove("hidden");
      }
    },
    // Handles a change on the file upload
    async filesUploadHandler() {
      document.getElementById("fileUploadText").classList.remove("hidden");
      this.$refs.uploadSuccess.classList.add("hidden");
      this.$refs.alertEmailSent.classList.add("hidden");
      this.$refs.alertFileHasErrors.classList.add("hidden");
      this.$refs.alertFileTypeUndetermined.classList.add("hidden");
      this.$refs.alertFinalExamSelected.classList.add("hidden");
      this.uploadStatus = "";
      this.listOfFiles = "";
      this.files = this.$refs.file.files;
      let fileErrorText = document.getElementById("fileErrorText");
      let fileSelected = document.getElementById("fileSelected");
      let submitButton = document.getElementById("SubmitBtn");
      let mondayDate = document.getElementById("finalsDate");
      let fileTextIds = ["titleText", "filesText", "fileSelected", "SubmitBtn"];
      if (this.files.length !== 0) {
        fileTextIds.forEach(id => document.getElementById(id).classList.remove("hidden"));
        fileErrorText.classList.add("hidden");
        if (this.files.length == 1) {
          // Single file uploaded
          this.setFileType();
        } else if (this.files.length > 1) {
          submitButton.classList.add("hidden");
          mondayDate.classList.add("hidden");
          
          // Display file selected names
          let filesUploaded = "Files Selected: ";
          Object.entries(this.files).forEach(([uploadNumber, file]) => {
            filesUploaded += file.name + ", ";
          });
          filesUploaded = filesUploaded.substring(0, filesUploaded.length - 2);
          fileSelected.innerHTML = filesUploaded;

          // Multiple files uploaded
          let response = await this.assignFileTypes();
          if (response[0]) {
            // One or more files contains errors
            this.$refs.alertFileHasErrors.classList.remove("hidden");
          } else if (response[1]) {
            // One or more files is a final exam
            this.$refs.alertFinalExamSelected.classList.remove("hidden");
          } else if (response[2]) {
            // One or more files has an undetermined file type
            this.$refs.alertFileTypeUndetermined.classList.remove("hidden");
          } else {
            // Allow for submission of the files
            fileErrorText.innerHTML = ""
            fileErrorText.classList.add("hidden");
            submitButton.classList.remove("hidden");
          }
        } else {
          // No file uploaded
          fileTextIds.forEach(id => document.getElementById(id).classList.add("hidden"));
          fileErrorText.classList.remove("hidden");
          fileErrorText.innerText = `Error: No file was uploaded`;
        }
      }
    },
    setFileType() {
      let submitButton = document.getElementById("SubmitBtn");
      let expectedHeaders = document.getElementById("expectedHeaders");
      let file = this.files[this.files.length - 1];
      let fileSelected = document.getElementById("fileSelected");
      let fileErrorText = document.getElementById("fileErrorText");
      fileSelected.innerHTML = "File Selected: " + file.name;
      const reader = new FileReader();
      reader.onload = (res) => {
        let file = res.target.result.split(/\r?\n/).map(row => row.split(/,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/));
        let headers = file[0];
        this.currentFile = file;
        this.currentHeaders = headers;
        let rows = file.slice(1, -1).map((row) => {
          let dict = new Object();
          for (let i = 0; i < headers.length; i++) {
            let header = headers[i];
            dict[header] = row[i];
          }
          return dict;
        });
        this.currentContents = rows;
        this.selectedFileType = null;
        let fileType = this.fileTypes.filter(fileType => this.matchHeaders(this.currentHeaders, fileType.headers));
        if (fileType.length > 1) console.log('Error with detecting file type'); // this should not happen
        else if (fileType.length == 1) {
          // File type detected
          fileType = fileType[0];
          this.files[0].fileType = fileType.name;
          fileErrorText.classList.add("hidden");
          this.changeFileType(fileType.name);
          console.log(`${fileType.name} detected`);
        } else {
          // No file type detected
          fileErrorText.classList.remove("hidden");
          submitButton.classList.add("hidden");
          expectedHeaders.classList.remove("hidden");
          fileErrorText.innerText = `Error: No file type was detected from the selected files headers.\nPlease check that the headers match the expected headers for each file.`;
          console.log('No file type detected');
        }
      };
      reader.onerror = (err) => console.log(err);
      reader.readAsText(file);
    },
    matchHeaders(fileHeaders, presetHeaders) {
      let matches = fileHeaders.filter(header => presetHeaders.includes(header)).length;
      let unmatches = fileHeaders.filter(header => !presetHeaders.includes(header)).length;
      return (unmatches <= 1 && matches >= presetHeaders.length - 1);
    },
    async reportFileErrors() {
      const separator = "\n\n";
      let collectionName;
      let text = [];
      // Missing data, improperly formatted data
      for (let i = 0; i < this.currentContents.length; i++) {
        switch (this.selectedFileType) {
          case "Class Schedule":
            collectionName = "student-schedules";
            this.currentContents[i].BEGIN_TIM = fileChecker.hasNumbers(this.currentContents[i].BEGIN_TIM) ? this.currentContents[i].BEGIN_TIM : "";   // Begin Time
            this.currentContents[i].END_TIM = fileChecker.hasNumbers(this.currentContents[i].END_TIM) ? this.currentContents[i].END_TIM : "";         // End Time
            this.currentContents[i].BEGIN_DTE = fileChecker.hasNumbers(this.currentContents[i].BEGIN_DTE) ? this.currentContents[i].BEGIN_DTE : "";   // Begin Date
            this.currentContents[i].END_DTE = fileChecker.hasNumbers(this.currentContents[i].END_DTE) ? this.currentContents[i].END_DTE : "";         // End Date
            break;

          case "Roster":
            collectionName = "athletes";
            break;

          case "Sport Schedule":
            collectionName = "events";
            this.currentContents[i].Date = fileChecker.hasNumbers(this.currentContents[i].Date) ? this.currentContents[i].Date : "";                                          // Date
            this.currentContents[i].Time = fileChecker.hasNumbers(this.currentContents[i].Time) ? this.currentContents[i].Time : "";                                          // Time
            this.currentContents[i]["Departure Time"] = fileChecker.hasNumbers(this.currentContents[i]["Departure Time"]) ? this.currentContents[i]["Departure Time"] : "";   // Departure Time
            break;

          case "Final Exam Schedule":
            collectionName = "exam-schedule";
            this.currentContents[i].EXAM_TIME = fileChecker.hasNumbers(this.currentContents[i].EXAM_TIME) ? this.currentContents[i].EXAM_TIME : ""   // Exam Time
            break;
        }
        let response = await fileChecker.checkEdits(this.currentContents[i], collectionName);
        if (response !== 0) {
          text.push(response + " This error was found on line: " + (i + 2) + " of your file.");
        }
      }

      return text.join(separator);
    },
    async deleteFile(file_name) {
      await axios
        .get("./api/deleteFile", {
          params: {
            file: file_name,
            token: this.getCookieValue('login')
          },
        })
        .then((response) => {
          if (response.data == "Email already sent") {
            this.$refs.alertEmailSent.classList.remove("hidden");
          } else if (response.data == "Complete") {
            this.update_uploaded_files();
          }
        })
        .catch((err) => {
          console.log("[Nuxt_front] File may not have been deleted properly. Error:", err);
        });
    },
    async verifyMondayForFinals() {
      let text = document.getElementById("finalDateText").value;
      let fileErrorText = document.getElementById("fileErrorText");
      const dateRegex = /\d\d*\/\d\d*\/\d{4}/;
      fileErrorText.classList.remove("hidden");
      let dateCheck = await fileChecker.checkDate(text);
      if (text.length === 0 || !dateRegex.test(text)) {
        fileErrorText.innerText = 'You must enter a date.'
        return false;
      } else if (dateCheck !== 0) {
        fileErrorText.innerText = dateCheck
        return false;
      } else if (new Date(text).getDay() !== 1) {
        fileErrorText.innerText = `The date ${text} is not on a Monday.`;
        return false;
      }
      fileErrorText.classList.add("hidden");
      return true;
    },
    clearFiles() {
      this.$refs.file.value = null;
      document.getElementById("fileSelected").classList.add("hidden");
      document.getElementById("expectedHeaders").classList.add("hidden");
      document.getElementById("fileUploadText").classList.add("hidden");
      document.getElementById("eventNotificationDiv").classList.add("hidden");
      document.getElementById("titleText").innerText = "";
      document.getElementById("filesText").innerText = "";
    },
    async assignFileTypes() {
      let response = await this.assignFileTypesInternal(this.files, 0, false, false, false);
      return response;
    },
    async assignFileTypesInternal(files, index, errors, finalExam, fileTypeUndetermined) {
      const reader = new FileReader();
      let values;
      await new Promise((resolve) => {
        reader.onload = async (res) => {
          let file = res.target.result.split(/\r?\n/).map(row => row.split(/,(?=(?:[^\"]*\"[^\"]*\")*[^\"]*$)/));
          let headers = file[0];
          this.currentHeaders = headers;
          let rows = file.slice(1, -1).map((row) => {
            let dict = new Object();
            for (let i = 0; i < headers.length; i++) {
              let header = headers[i];
              dict[header] = row[i];
            }
            return dict;
          });
          this.currentContents = rows;
          let fileType = this.fileTypes.filter(fileType => this.matchHeaders(this.currentHeaders, fileType.headers));
          if (fileType.length > 1) console.log('Error with detecting file type'); // this should not happen
          else if (fileType.length === 1) {
            // File type detected
            files[index].fileType = fileType[0].name;
            this.selectedFileType = fileType[0].name;
            if (await this.reportFileErrors() !== "") {
              errors = true;
            }
            if (this.selectedFileType == "Final Exam Schedule") {
              finalExam = true;
            }
          } else {
            // No file type detected
            fileTypeUndetermined = true;
          }
          if (files[index + 1] !== undefined) {
            values = await this.assignFileTypesInternal(files, index + 1, errors, finalExam, fileTypeUndetermined);
            resolve(values);
            return values;
          } else {
            values = [errors, finalExam, fileTypeUndetermined];
            resolve(values);
            return [errors, finalExam, fileTypeUndetermined];
          }
        };
        reader.onerror = (err) => console.log(err);
        reader.readAsText(files[index]);
      });
      return values;
    }
  }
});
</script>

<style>
.alert {
  padding: 20px;
  background-color: #B33A3A;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
}

.might-overflow:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}
</style>
