<template>
  <div>
    {{nodeExpressStatus ? "": "warning!, node express server is offline!"}}
    {{mongoStatus ? "": "warning!, mongodb database is offline!"}}
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      nodeExpressStatus: true,
      mongoStatus: true
    };
  },
  mounted() {
    axios.get("./api/healthping").then((response) => {
      // console.log(response);
      this.nodeExpressStatus = response.data.nodeExpressStatus
      this.mongoStatus = response.data.mongoStatus
    });
  }
};
</script>
