<template>
  <div class="flex flex-col h-screen justify-between">
    <div class="flex flex-col justify-center items-center" id="logo">
      <NuxtLink class="text-xl text-black" to="/"
        ><img src="/athcomm_logo.PNG" width="1000" height="80"
      /></NuxtLink>
    </div>
    <nav
      class="
        relative
        w-full
        flex flex-wrap
        items-center
        justify-between
        py-3
        bg-gray-100
        text-gray-500
        hover:text-gray-700
        focus:text-gray-700
        shadow-lg
      "
    >
      <div
        class="
          container-fluid
          w-full
          flex flex-wrap
          items-center
          justify-evenly
          px-6
        "
      >
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/">Home</NuxtLink>
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/emails">Emails</NuxtLink>
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/conflicts"
            >Conflicts</NuxtLink
          >
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/upload"
            >Upload Files</NuxtLink
          >
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/editFiles"
            >Edit Files</NuxtLink
          >
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/reset">Reset</NuxtLink>
        </div>
        <div class="container-fluid">
          <NuxtLink class="text-xl text-black" to="/help">Help</NuxtLink>
        </div>
      </div>
    </nav>
    <Nuxt class="mb-auto" />
    <footer class="bg-white-100 text-center lg:text-left pt-10">
      <div
        class="text-center text-gray-700 p-4"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        For questions, concerns, or comments please reach out to:
        <a class="text-gray-900" href="mailto: nickel@msoe.edu"
          >Dr. Anne-Marie Nickel</a
        >, MSOE Athletic Department Faculty Representative or the
        <a
          class="text-gray-900"
          href="mailto: AthCommGroup-Community@msoe365.onmicrosoft.com"
          >development team behind AthComm</a
        >.
      </div>
    </footer>
  </div>
</template>